<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-9">
      <form (ngSubmit)="update()"*ngIf="user" [formGroup]="userForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" formControlName="email" placeholder="Email"
            [class.is-invalid]="email.invalid && (email.touched)"
            >
          </div>
          <div class="form-group col-md-6">
            <label for="inputTelephone">Téléphone</label>
            <input type="text" class="form-control" id="inputTelephone" formControlName="telephone"
                   placeholder="Téléphone"
                   [class.is-invalid]="telephone.invalid && (telephone.touched)"
                   >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="civilite" class="custom-control-input"
                     formControlName="civilite" value="M" >
              <label class="custom-control-label" for="customRadioInline1">Monsieur</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="civilite" class="custom-control-input"
                     formControlName="civilite" value="Mme" >
              <label class="custom-control-label" for="customRadioInline2">Madame</label>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" formControlName="nom" id="nom" placeholder="Nom" 
            [class.is-invalid]="nom.invalid && (nom.touched)"
            >
          </div>
          <div class="form-group col-md-6">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" formControlName="prenom" id="prenom" placeholder="Prenom"
            [class.is-invalid]="prenom.invalid && (prenom.touched)"
            >
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Adresse</label>
          <input type="text" class="form-control" formControlName="adresse" id="inputAddress"
                 placeholder="12 rue du Bois" [class.is-invalid]="adresse.invalid && (adresse.touched)"
                 >
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputCity">Ville</label>
            <input type="text" class="form-control" formControlName="ville" id="inputCity" 
            [class.is-invalid]="ville.invalid && (ville.touched)"
            >
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Code Postale</label>
            <input type="text" class="form-control" formControlName="codePostal" id="inputZip"
            [class.is-invalid]="codePostal.invalid && (codePostal.touched)"
            >
          </div>
        </div>
        <div *ngIf="userForm.invalid"class="form-row justify-content-center">
          <p class="text-danger text-center">Veuillez compléter entièrement vos informations !</p>
        </div>
        <div class="form-row justify-content-center">
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Modifier</button>
        </div>
      </form>
    </div>
  </div>
</div>
