<div class="container-fluid mt-md-5 mb-3">
    <div class="row align-items-center" *ngIf="voyage">
        <div class="col-lg-3 col-md-5 mb-3 mb-md-0 ">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let image of voyage.destination.images">
                    <div class="picsum-img-wrapper">
                        <img [src]="'/assets/' + image" alt="Random first slide">
                    </div>
                    <div class="carousel-caption">
                        <h3>{{voyage.destination.region}}</h3>
                        <p>A partir du {{voyage.date_depart | date: 'd MMMM y': undefined: 'fr-fr' }}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="card col">
            <div class="card-body">
                <h1 class="card-title">{{voyage.destination.region}}</h1>
                <div class="card-text">
                    <p>{{voyage.destination.description}}</p>
                    <p>Date de Départ : {{voyage.date_depart | date: 'd MMMM y': undefined: 'fr-fr' }}</p>
                    <p>Date d'arrivée : {{voyage.date_retour | date: 'd MMMM y': undefined: 'fr-fr' }}</p>
                    <p>Prix HT : {{voyage.prix_ht}} €</p>
                </div>
                <button class="btn btn-primary" [routerLink]="['/reservation/', voyage.id ]">Réserver</button>
            </div>
        </div>
    </div>
</div>