<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-9 col">
      <form (ngSubmit)="addReservation()" [formGroup]="reservationForm">
        <div class="form-row justify-content-center mb-3">
          <h4 class="col-12">Vos Accompagnant</h4>
          <div class="form-group col-12" formArrayName="accompagnants"
            *ngFor="let accompagnant of accompagnants.controls; let i = index">
            <div [formGroupName]="i" class="form-group col-12 mb-0 mt-3">
              <div class="form-row d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [id]="i+'civiliteM'" name="civilite" class="custom-control-input"
                      formControlName="civilite" value="M">
                    <label class="custom-control-label" [for]="i+'civiliteM'">Monsieur</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" [id]="i+'civiliteMme'" name="civilite" class="custom-control-input"
                      formControlName="civilite" value="Mme">
                    <label class="custom-control-label" [for]="i+'civiliteMme'">Madame</label>
                  </div>
                </div>
                <button type="button" (click)="delAccompagnant(i)" class="btn btn-danger">X</button>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" formControlName="nom" placeholder="Nom">
                </div>
                <div class="form-group col-md-4">
                  <label for="prenom">Prénom</label>
                  <input type="text" class="form-control" formControlName="prenom" placeholder="Prenom">
                </div>
                <div class="form-group col-md-4">
                  <label for="naissance">Date de Naissance</label>
                  <input type="date" class="form-control" formControlName="naissance" placeholder="Prenom">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputAddress">Adresse</label>
                  <input type="text" class="form-control" formControlName="adresse"
                    placeholder="12 rue du Bois">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputCity">Ville</label>
                  <input type="text" class="form-control" formControlName="ville" >
                </div>
                <div class="form-group col-md-4">
                  <label for="inputZip">Code Postale</label>
                  <input type="text" class="form-control" formControlName="code_postale">
                </div>
              </div>
              <div class="form-row justify-content-center">
                <div class="form-group col-md-4">
                  <label for="nom">Tel :</label>
                  <input type="tel" class="form-control" formControlName="tel" placeholder="00-00-00-00-00">
                </div>
              </div>
            </div>
          </div>
          <p class="font-weight-light text-center col-12">Nombre de places restantes : {{nbPlaces}}</p>
          <button type="button" class="btn btn-primary mb-3" (click)="addAccompagnant()" [disabled]="nbPlaces === 0">Ajouter un
            accompagnant</button>
          <p class="font-weight-bold col-12 text-center">Prix HT : <span class="text-info">{{prixFinal}}</span> €</p>
        </div>
        <div class="form-row">
          <h4 class="col-12">Moyen de Paiement</h4>
          <div class="form-group col-md-5">
            <label for="carteNum">Numéros Carte</label>
            <input type="text" class="form-control" id="carteNum" formControlName="carteNum"
              placeholder="#### #### #### ####" [class.is-invalid]="carteNum.invalid && (carteNum.touched)"
              [class.is-valid]="carteNum.valid && (carteNum.dirty || carteNum.touched)" />
            <div class="invalid-feedback">
              Numéros de carte invalide !
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col" for="moisExpiration">Mois</label>
            <input type="number" class="form-control" id="moisExpiration" placeholder="MM"
              formControlName="moisExpiration" [class.is-invalid]="moisExpiration.invalid && (moisExpiration.touched)"
              [class.is-valid]="moisExpiration.valid && (moisExpiration.dirty || moisExpiration.touched)" />
            <div class="invalid-feedback">
              Mois invalide !
            </div>
          </div>
          <div class="form-group col-md-3">
            <label for="anneeExpiration">Annee</label>
            <input type="text" class="form-control" id="anneeExpiration" placeholder="AAAA"
              formControlName="anneeExpiration"
              [class.is-invalid]="anneeExpiration.invalid && (anneeExpiration.touched)"
              [class.is-valid]="anneeExpiration.valid && (anneeExpiration.dirty || anneeExpiration.touched)" />
            <div class="invalid-feedback">
              Année invalide !
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-2">
            <label for="CCV">CCV</label>
            <input type="text" class="form-control" id="ccv" placeholder="CCV" formControlName="ccv"
              [class.is-invalid]="ccv.invalid && (ccv.touched)"
              [class.is-valid]="ccv.valid && (ccv.dirty || carteNum.touched)">
            <div class="invalid-feedback">
              CCV invalide !
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="assurance" formControlName="assurance">
          <label class="form-check-label" for="assurance">Souscrire à l'assurance annulation</label>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="reservationForm.invalid">Valider</button>
      </form>
    </div>
  </div>
</div>